/*
    本页为--虚拟主机安全防护全面升级
*/
.container {
    min-width: 1190px;
}

@-ms-keyframes opacity-show {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes opacity-show {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes opacity-show {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-ms-keyframes fadeInUp {
    0% {
        top: 20px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        top: 20px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        top: 20px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

.opacity-show {
    -ms-animation: opacity-show .55s ease-in;
    -webkit-animation: opacity-show .55s ease-in;
    animation: opacity-show .55s ease-in;
}

/***************banner 开始***************/
.banner {
    padding: 136px 0 244px;
    background: url("/statics/images/active/webhosting/20150925-banner.jpg") no-repeat top center;
}

/*文字*/
.banner .banner-txt {
    padding-left: 20px;
    position: relative;
    top: 20px;
    opacity: 0;
    opacity: 1 \0;
    -ms-animation: fadeInUp .55s ease-in .55s forwards;
    -webkit-animation: fadeInUp .55s ease-in .55s forwards;
    animation: fadeInUp .55s ease-in .55s forwards;
}

/*.banner .banner-txt p {*/
/*position: relative;*/
/*opacity: 0;*/
/*-ms-animation: fadeInLeft .55s ease-in .2s;*/
/*-webkit-animation: fadeInLeft .55s ease-in .2s;*/
/*animation: opacity fadeInLeft .55s ease-in .2s;*/
/*animation-fill-mode: forwards;*/
/*}*/

/*.banner .banner-txt a {*/
/*position: relative;*/
/*-ms-animation: opacity-show .55s ease-in;*/
/*-webkit-animation: opacity-show .55s ease-in;*/
/*animation: opacity opacity-show .55s ease-in;*/
/*}*/

/*标题*/
.banner .banner-txt h2 {
    padding-bottom: 46px;
    font-size: 40px;
    color: #fff;
}

.banner .banner-txt h2 span {
    color: #55f1ff;
}

.banner .banner-txt p {
    line-height: 30px;
    font-family: "微软雅黑 Light";
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
}

/*按钮*/
.banner .banner-txt .banner-btn {
    margin-top: 24px;
    display: inline-block;
    width: 180px;
    height: 48px;
    line-height: 48px;
    background: #2fb921;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

/***************banner 结束***************/

/***************中间内容 开始***************/
.webhosting-inner {
    height: 560px;
    overflow: hidden;
}

.webhosting-inner1 {
    background: url("/statics/images/active/webhosting/20150925-bg1.jpg") no-repeat top center;
}

.webhosting-inner2 {
    background: #39348d;
}

.webhosting-inner3 {
    background: url("/statics/images/active/webhosting/20150925-bg3.jpg") no-repeat top center;
}

.webhosting-inner4 {
    background: url("/statics/images/active/webhosting/20150925-bg4.jpg") no-repeat top center;
}

.webhosting-inner .wi-img {
    padding-top: 66px;
    position: relative;
}

.webhosting-inner .wi-txt {
    padding-top: 140px;
    width: 600px;
    box-sizing: border-box;
    opacity: 0;
}

.webhosting-inner .wi-txt h3 {
    padding-top: 6px;
    font-size: 34px;
    color: #fff;
}

.webhosting-inner3 .wi-txt h3, .webhosting-inner4 .wi-txt h3 {
    font-size: 30px;
}

.webhosting-inner .wi-txt p {
    line-height: 28px;
    font-size: 16px;
    color: #fff;
}

/*动画*/
.webhosting-inner .wi-img img {
    position: relative;
    transition: all 0.55s ease-in-out;
}

/*.webhosting-inner1 .wi-img img,*/
.webhosting-inner3 .wi-img img {
    left: -150%;
}

/*.webhosting-inner1.active .wi-img img,*/
.webhosting-inner3.active .wi-img img {
    left: 0%;
}

.webhosting-inner2 .wi-img img,
.webhosting-inner4 .wi-img img {
    left: 150%;
}

.webhosting-inner2.active .wi-img img,
.webhosting-inner4.active .wi-img img {
    left: 0%;
}

.webhosting-inner1 .wi-txt {
    opacity: 1;
}

.webhosting-inner.active .wi-txt {
    opacity: 1;
    transition: all 0.55s ease-in-out;
}

/***************中间内容 结束***************/

/***************我们的客户 开始***************/
.webhosting-customer {
    padding: 44px 0 34px;
    background: url("/statics/images/active/webhosting/20150925-bg5.jpg") no-repeat top center;
}

/*********标题 开始*********/
.webhosting-customer .wc-title {
    text-align: center;
}

.webhosting-customer .wc-title h2 {
    font-size: 40px;
    color: #fff;
}

.webhosting-customer .wc-title h2::before {
    content: "";
    margin-right: 20px;
    display: inline-block;
    width: 180px;
    height: 1px;
    background: #95efff;
    vertical-align: middle;
}

.webhosting-customer .wc-title h2::after {
    content: "";
    margin-left: 20px;
    display: inline-block;
    width: 180px;
    height: 1px;
    background: #95efff;
    vertical-align: middle;
}

.webhosting-customer .wc-title p {
    padding-top: 6px;
    font-size: 18px;
    color: #93dfff;
}

/*********标题 结束*********/

/*********客户类型 开始*********/
.webhosting-customer .wc-list {
    margin: 36px 86px 0;
}

.webhosting-customer .wc-list li {
    margin-right: 43px;
    float: left;
    width: 169px;
}

.webhosting-customer .wc-list li:last-child {
    margin-right: 0;
}

.webhosting-customer .wc-list li .wc-img {
    width: 169px;
    height: 118px;
    background: url("/statics/images/active/webhosting/20150925-icon.png") no-repeat;
}

.webhosting-customer .wc-list li .wc-img1 {
    background-position: 0 0;
}

.webhosting-customer .wc-list li .wc-img2 {
    background-position: -171px 0;
}

.webhosting-customer .wc-list li .wc-img3 {
    background-position: -342px 0;
}

.webhosting-customer .wc-list li .wc-img4 {
    background-position: -513px 0;
}

.webhosting-customer .wc-list li .wc-img5 {
    background-position: -684px 0;
}

.webhosting-customer .wc-list li p {
    height: 60px;
    line-height: 60px;
    background: rgba(0, 156, 255, 0.4);
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.webhosting-customer .wc-list li:last-child p {
    padding-top: 10px;
    height: 50px;
    line-height: 20px;
    vertical-align: middle;
}

/*********客户类型 结束*********/

/*********用户数量 开始*********/
.webhosting-customer .wc-box {
    padding: 30px 80px 20px;
    margin: 24px 86px 0;
    background: rgba(21, 7, 86, 0.6);
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, rgba(68, 73, 221, 0.38) 0%, rgba(17, 183, 241, 0.38) 100%);
    border-image-slice: 1;
}

/*标题*/
.webhosting-customer .wc-box .wb-title {
    font-size: 18px;
    color: #4799fe;
    text-align: center;
}

/*数量*/
.webhosting-customer .wc-box .wb-list {
    margin-top: 60px;
}

.webhosting-customer .wc-box .wb-list li {
    float: left;
    margin-right: 100px;
}

.webhosting-customer .wc-box .wb-list li:last-child {
    margin-right: 0;
}

.wc-box .wb-list li .wb-img {
    width: 117px;
    height: 117px;
    background: url("/statics/images/active/webhosting/20150925-icon.png") no-repeat;
}

.wc-box .wb-list li .wb-img1 {
    background-position: 0px -118px;
}

.wc-box .wb-list li .wb-img2 {
    background-position: -117px -118px;
}

.wc-box .wb-list li .wb-img3 {
    background-position: -234px -118px;
}

.wc-box .wb-list li .wb-img4 {
    background-position: -350px -118px;
}

.wc-box .wb-list li p {
    font-size: 16px;
    color: #fff;
}

.wc-box .wb-list li .num {
    padding-top: 10px;
    font-size: 30px;
}

/*按钮*/
.wc-box .wc-btn {
    display: inline-block;
    width: 244px;
    height: 50px;
    line-height: 50px;
    background: rgba(0, 53, 174, 0.18);
    /*background-clip: padding-box;*/
    border: 2px solid #3d4cd2;
    border-radius: 28px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    /*position: relative;*/
}

/*.wc-box .wc-btn::after{
    display: inline-block;
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(rgba(17, 183, 241, 0.9), rgba(68, 73, 221, 0.9));
    content: '';
    z-index: -1;
    border-radius: 26px;
}*/
/*********用户数量 结束*********/
/***************我们的客户 结束***************/
