.container{
	background: #0a3f83;
}
.banner .banner1{
	width: 100%;
	height: 306px;
	background: url("/statics/images/active/20171028/banner1.jpg") no-repeat top center;
}
.banner .banner2{
	width: 100%;
	height: 313px;
	background: url("/statics/images/active/20171028/banner2.jpg") no-repeat top center;
}

.checkbtn {
	background: #FF0;
	border: none;
	padding: 3px 5px;
	border-radius: 3px;
	cursor: pointer;
	font-size: 14px;
}
#wrap{  text-align:center; margin:0 auto;}
.clearfix{  
 overflow:hidden;
 zoom:1;
}  

.con_out{background:#ffde45; padding-bottom:35px;text-align:center; margin:0 auto; width:100%;  background: url(/statics/images/active/20171028/bgout.gif) no-repeat center top;overflow: hidden;}
.pa10{padding:0 10px;}

#content{ width: 980px; margin:0 auto; text-align:left; }

.ptop30{ padding-top:30px;}
.ptop30 p{ line-height:36px;}
.text_con{border:1px solid #d5dee6; background:#fff; padding:12px 18px;}
.ptop20{ padding-top:20px;}
.pa30{ padding:30px; overflow:hidden; zoom:1;}

.cuxiao{ background:url(/statics/images/active/20171028/bg.jpg) no-repeat left top; width:960px; height:199px; position:relative;}
.margin{ margin-top:15px;}
.cuxiao .num{ position:absolute; left:420px; top:15px;}
.text{ /*padding:58px 0 0 0;*/padding:68px 0 0 0;text-align:center; width:370px;}
.text h1{ font-size:18px; color:#9e7901; padding-bottom:15px;}
.text p{ font-size:24px; color:#4b0000; }
/*.text p .color{ color:#f03234; font-size:40px;}*/
.margin-top{ margin-top:20px;}
.conbg{ background:#063776;  color:#fffbee; padding:30px; border-radius:5px;}
.conbg h1{ font-size:24px; padding-bottom:15px;}
.conbg p{ font-size:16px; line-height:30px;}

.conbg2 h1{color:#fff;font-size:24px; padding-bottom:15px;}
.conbg2 .floatl{ float:left;}
.conbg2 .floatr{ float:right;}

