#MainRight #Server_Top_Info { height:222px; margin-top:10px; }
#Server_Top_Info .ImgDiv_to_Left { background:url(/statics/images/aboutus-old/CloudHost_pic.jpg) no-repeat 0px 10px; height:220px; width:320px; }
.ImgDiv_to_Left #speed_test { height:27px; width:114px; margin-left:160px; margin-top:150px; }
#Server_Top_Info #cloud_title_pic { background:url(/statics/images/aboutus-old/Cloud_host_Title.jpg) no-repeat; width:267px; height:59px; float:left; }
#Server_Top_Info #link_list { float:left; width:345px; padding-left:25px }
#link_list ul { list-style-type:decimal-leading-zero; }
#link_list ul li { margin-top:6px; }
#MainRight #Cloud_List_Box { margin:20px 10px; height:715px; }
#Cloud_List_Box ul li { width:348px; height:350px; background:url(/statics/images/aboutus-old/Cloud_host_list_bg.jpg) no-repeat; float:left; margin-left:5px; margin-bottom:20px; }
li .Li_Title { margin:10px 0 0 15px; color:#1E476A; font-size:16px; font-weight:bold; }
li .Li_PIC_d { height:101px; }
li .Li_PIC_e { background:url(/statics/images/aboutus-old/cloud_list_pic_.gif) no-repeat; height:86px; width:195px; margin:15px 0 0 10px; float:left; }
li .Li_Content { margin:15px 0 0 15px; height:205px; }
li .Li_Content .aal { float:left; font-weight:bold; color:#069; width:96px; margin-bottom:5px; text-align:right; }
li .Li_Content .ccl { float:left; width:220px; margin-bottom:5px; margin-left:10px; }
li .Li_PIC_d .button_a { height:24px; width:84px; float:left; margin:30px 0 0 30px; }
li .Li_PIC_d .button_b { height:24px; width:84px; float:left; margin:10px 0 0 30px; }
li .Li_Content .ppl { float:left; width:318px; margin-top:15px; margin-left:10px; }
/**#MainRight #Cloud_Content_Box { width:700px; margin:auto; margin-top:15px; background:url(/statics/images/aboutus-old/Cloud_host_info_bg.jpg) no-repeat; padding:16px 25px 0 25px; }*/
#MainRight #Cloud_Content_Box { margin:auto; margin-top:15px;  padding:16px 25px 0 0px; }
#Server_Top_Info .ImgDiv_to_Left #Link_msg { margin-top:20px; width:275px; text-align:right; }
#Cloud_Content_Box p { line-height:25px; }
#Cloud_Content_Box .img_dd { width:auto; float:left; margin:25px; padding:1px; background:#FFF; border:solid 1px #069; }
#Cloud_Content_Box #ActionDiv { margin-top:30px; }
#ActionDiv ul li { width:600px; margin:auto; margin-bottom:35px; text-align:center; }
#ActionDiv ul li .ac_Title { /*background:url(/statics/images/aboutus-old/045631705.gif) no-repeat;*/ font-size:14px; font-weight:bold; color:#069; letter-spacing:3px; margin-bottom:3px; }
#ActionDiv ul li .ac_line { background:#09F; height:1px; margin-bottom:10px; }
#ActionDiv ul li .ac_pic { width:500px; padding:1px; background:#FFF; border:solid 1px #666; margin: 0 auto;}
#Cloud_Content_Box #User_Div { width:660px; margin:30px auto; height:600px; }
#User_Div ul li { width:165px; text-align:center; float:left; margin:10px auto; }
#User_Div ul li .ca_pic { padding:1px; background:#FFF; width:140px; height:40px; margin:auto auto 17px auto; }
#User_Div ul li .ca_txt { text-align:center; }
#WebFlashSub_mid { margin-top:20px; height:81px; }
#WebFlashSub_mid ul li { float:left; margin:3px 0px 0px 10px; text-align:center; }
#Cloud_Content_Box ol li { line-height:25px; }
#Cloud_Content_Box #partter_Div { width:660px; margin:30px auto; height:910px; }
#partter_Div ul li { width:165px; text-align:center; float:left; margin:10px auto; height:50px; }
#partter_Div ul li .ca_pic { padding:1px; background:#FFF; border:solid 1px #999; width:140px; height:40px; margin:auto auto 8px auto; }
#Cloud_Content_Box #content_Div { margin:40px auto; }
.contact_inf { background:url(/statics/images/aboutus-old/main_5_61.jpg) no-repeat; background:url(/statics/images/aboutus-old/domain_info_list_on_bg.gif) repeat-x; margin-bottom:20px; padding:10px 0px; overflow:hidden; height:auto; }
#content_Div .lins { margin-bottom:20px; font-weight:bold; font-size:14px; color:#069; background:url(/statics/images/aboutus-old/045631510.gif) no-repeat 0 -1px; padding-left:22px; height:70px; }
#content_Div .lins ul { margin-top:15px; overflow:hidden; height:auto; display:block; }
#content_Div .lins ul li { float:left; background:url(/statics/images/aboutus-old/045631715.gif) no-repeat; width:80px; padding-left:22px; }
.contact_inf .cc_Title { font-size:14px; font-weight:bold; background:url(/statics/images/aboutus-old/045631513.gif) no-repeat 0 -1px; padding-left:22px; color:#000; margin-bottom:15px; }
#content_Div .cb_l { height:auto; overflow:hidden; width:100%; }
#content_Div .cb_l .cc_l { width:90px; text-align:right; float:left; margin-top:10px; height:20px; }
#content_Div .cb_l .cc_m { width:450px; float:left; margin-left:35px; font-weight:normal; margin-top:10px; height:20px; }
#content_Div .contact_inf.B ul li { float:left; border:solid 1px #999; background:#FFF; padding:1px; margin:10px 40px; }
#content_Div .contact_inf.B ul { height:300px; }
#content_Div .contact_inf.B .wide_pic { width:500px; border:solid 1px #999; background:#FFF; padding:1px; margin:20px auto; }
#Cloud_Content_Box h2 { text-align:center; }
#content_Div .contact_inf.B p { font-weight:normal; margin-left:15px; }
#Ma_div{
    font-size: 14px;
}
#Cloud_Content_Box #Ma_div { margin:30px 20px; }
#Ma_div ul li { height:25px; border-bottom:1px solid #fafafa; margin:5px 0px; clear:both;}
#Ma_div ul li .ma_a { background:url(/statics/images/aboutus-old/045631133.gif) no-repeat; width:120px; float:left; font-weight:bold; color:#F60; padding-left:30px; }
#Ma_div ul li .ma_b { width:360px; float:left; margin-left:15px; overflow:hidden; }
#Ma_div ul li .ma_b a { color:#666; text-decoration: none; }
#Ma_div ul li .ma_b a:hover { color:#F30; }
#Ma_div ul li .ma_c { width:88px; float:left; margin-left:15px; color:#CCC; }
#Cloud_Content_Box #ma_page { margin-bottom:30px; margin-left:185px; }
#about_pic { width:191px; height:114px; float:left; margin:30px 30px 50px 30px; padding:1px; border:solid 1px #666; }
#content_Div .contact_inf #content_tel { float:left; margin-top:30px; width:355px; line-height:25px; }
.contact_inf #map_ico { width:355px; float:left; text-align:right; margin-top:-15px; }
#content_Div .Conte_link_List { background:url(/statics/images/aboutus-old/a_button_left.gif) repeat-y; width:657px; margin:20px 0; }
#content_Div .Conte_link_List .Conte_link_List_top { background:url(/statics/images/aboutus-old/Link_us_top.gif) no-repeat; height:33px; width:657px; }
#content_Div .Conte_link_List .Conte_link_List_button { background:url(/statics/images/aboutus-old/Link_us_bottom.gif) no-repeat; width:657px; height:22px; }
#content_Div .Conte_link_List .Conte_link_List_cont { padding:10px 32px 0 32px; overflow:hidden; height:auto; }
.Conte_link_List_top .cc_Title { padding-left:63px; font-size:16px; font-weight:bold; padding-top:10px; color:#407193; }
#content_Div .Conte_link_List_2 { height:200px; }
.Conte_link_List_2 #linkA { width:317px; float:left; background:url(/statics/images/aboutus-old/Link_us_bg_2.gif) repeat-y; }
#linkA .Conte_link_List_top { background:url(/statics/images/aboutus-old/Link_us_top_2.gif) no-repeat; height:31px; }
#linkA .Conte_link_List_bg { padding:10px 28px 0 28px; }
#linkA .Conte_link_List_bottom { height:22px; background:url(/statics/images/aboutus-old/Link_us_bottom_2.gif) no-repeat; }
#pay_note ol { list-style-type:decimal-leading-zero; }
#content_Div .contact_inf table { width:100%; border:1px solid #DFE2E5; border-collapse:collapse; background:url(/statics/images/aboutus-old/trusteehost_Info_table_bg.gif) repeat-x 0px 1px; }
#content_Div .contact_inf table tr td { padding:5px 5px; border-bottom:solid #F0F0F0 1px; border:1px solid #DFE2E5; }
#GoPayButton { margin:20px 0px; height:70px; }
.RoomNameBox { font-weight:bold; height:26px; border-bottom:solid #fff 1px; color:#5A6D7E; white-space:nowrap; }
.bank_log { BACKGROUND-IMAGE: url(/statics/images/aboutus-old/logo_bank.png); BACKGROUND-REPEAT: no-repeat; WIDTH: 127px; HEIGHT: 40px; }
.CMB { BACKGROUND-POSITION: 0px -209px; }
.ccb { background-position:0px -101px; }
.aboc { background-position:0px -67px; }
.gsyh { background-position:0px 5px; }
.boc { background-position:0px -175px; }
.pob { background-position:0px -140px; }
.payal{BACKGROUND-IMAGE: url(/img/paypal_logo.gif); BACKGROUND-REPEAT: no-repeat; WIDTH: 127px; HEIGHT: 40px;}
#price_list_div table { width:100%; border:1px solid #DFE2E5; border-collapse:collapse; background:url(/statics/images/aboutus-old/trusteehost_Info_table_bg.gif) repeat-x 0px 1px; }
#price_list_div table tr td { padding:5px 5px; border-bottom:solid #F0F0F0 1px; border:1px solid #DFE2E5; }
#content_Div ol { list-style-type:decimal; }
#buyFreenow { height:56px; width:293px; margin:30px auto; }
.phonepic { margin:auto; }
.phonepic li { float:left; margin:20px 35px; }
.newslist ul.listmsg { margin-left:30px; }
.newslist ul.listmsg li { padding:0 0 0 28px; margin:4px 0px; background:url(/statics/images/aboutus-old/045631872.gif) no-repeat; }
#PageList_Box { width:100%; height:30px; margin:30px auto; text-align:center; font-family:Arial, Helvetica, sans-serif; padding-top:3px; }
#PageList_Box a { border: 1px solid #E4E4E4; margin-right:6px; padding:1px 4px; color:#069; }
#PageList_Box a:hover { border: 1px solid #999; margin-right:6px; padding:1px 4px; color:#F60; }
#PageList_Box .current { border: 1px solid #036; margin-right:6px; padding:1px 4px; background:#069; font-weight:bold; color:#FFF; }
#PageList_Box .disabled { border: 1px solid #ccc; margin-right:6px; padding:1px 4px; color:#ccc; }
#PageList_Box .Webdingsfont { font-family:Webdings; }
.lidiv { display:block; overflow:hidden; margin-top:5px; font-weight:normal; height:30px; }
.ag_a { width:70px; text-align:right; float:left; margin-top:10px; }
.ag_b { width:130px; float:left; margin-top:10px; margin-left:15px; }
.ag_c { width:70px; float:left; margin-top:10px; margin-left:15px; }
.ag_d { width:180px; float:left; margin-top:10px; margin-left:15px; }
.ag_e { width:60px; float:left; margin-top:10px; margin-left:15px; }
.ac_guestlist { width:580px; padding:5px; background:#FFF; overflow:hidden; height:auto; }
.ac_guestlist_li { float:left; width:170px; margin-bottom:4px; padding-left:20px; background:url(/statics/images/aboutus-old/tabicons_058.gif) 0 2px no-repeat; }
.h5bottom { padding-top:10px; padding-bottom:5px; display:block; float:left; width:500px; }
.bu_on { background:url(/statics/images/aboutus-old/zl_03.jpg) no-repeat; height:36px; width:167px; float:left; padding-top:9px; text-align:center; letter-spacing:4px; }
.bu_off { background:url(/statics/images/aboutus-old/zl_03-06.jpg) no-repeat; height:36px; width:167px; float:left; padding-top:9px; text-align:center; color:#999; letter-spacing:4px; cursor:default; }
.Ma_div { margin:30px 20px; }
.Ma_div ul li { height:25px; border-bottom:1px solid #fafafa; margin:5px 0px; }
.Ma_div ul li .ma_a { background:url(/statics/images/aboutus-old/045631133.gif) no-repeat; width:120px; float:left; font-weight:bold; color:#F60; padding-left:30px; }
.Ma_div ul li .ma_b { width:360px; float:left; margin-left:15px; overflow:hidden; }
.Ma_div ul li .ma_b a { color:#666; text-decoration: none; }
.Ma_div ul li .ma_b a:hover { color:#F30; }
.Ma_div ul li .ma_c { width:88px; float:left; margin-left:15px; color:#CCC; }
.Server_logo_list { background:url(/statics/images/aboutus-old/Server_Logo_list_bg.gif) no-repeat; height:277px; width:197px; margin:6px 0px 10px 2px; padding-top:12px; }
.Server_logo_list #Title { margin:0px 0px 0px 12px; font-size:14px; font-weight:bold; }
.guideinfoleft { margin-left:12px; margin-top:8px; margin-right:9px; border-left:solid 2px #006699; padding-left:3px; }
.guideinfoleft_b { margin-left:12px; margin-top:8px; margin-right:9px; }
.guideinfoleft_b span { float: left; width: 39px; height: 17px; background:url(/statics/images/aboutus-old/choose_hosting_icon10.gif) no-repeat 0px 0px; color: white; font-weight: bold; padding-left: 2px; display:block; }
.mail_info_cont { width:140px; float:left; margin-left:8px; }
.Mail_info_title { background:url(/statics/images/aboutus-old/Service_info_bg.jpg) no-repeat; width:173px; height:45px; margin:auto; margin-top:8px; padding:10px 0px 0px 0px; }
.Wiste { border:solid 1px #c6c6c6; width:960px; margin:20px auto auto auto; height:auto; overflow:hidden; }
.nsn_hd_top { height: 60px; background: url(/statics/images/aboutus-old/nsn_title_bg.jpg) no-repeat 0px 0px; }
.wsiteinfo { overflow:hidden; height:auto; width:930px; margin:auto; margin-top:15px; }
.wsiteinfoleft { float:left; overflow:hidden; width:575px; }
.wsiteinforight { float:left; overflow:hidden; width:300px; height:310px; margin-left:30px; border:solid 1px #CCC; padding:1px; }
.wsitelist { display:block; }
.wsitelist li { display:block; margin-bottom:20px; overflow:hidden; }
.wsitelist .image01 { background: url(/statics/images/aboutus-old/nsn_iconbg01.jpg) no-repeat 0px 0px; float: left; margin: 5px 10px 0 0; }
.wsitelist .image02 { background: url(/statics/images/aboutus-old/nsn_iconbg01.jpg) no-repeat 0px -71px; float: left; margin: 5px 10px 0 0; }
.wsitelist .image03 { background: url(/statics/images/aboutus-old/nsn_iconbg01.jpg) no-repeat 0px -142px; float: left; margin: 5px 10px 0 0; }
.image { width: 81px; height: 71px; }
.wsitelist h3 { font: bold 16px/25px "宋体"; border-left: 1px solid #E2E2E2; float: left; padding-left: 15px; width: 450px; margin:0px; color:#333333; }
.wsitelist p { line-height: 21px; color: #666; text-indent: 2em; border-left: 1px solid #E2E2E2; float: left; padding-left: 15px; width: 450px; margin:0px; }
.wsitelist span { line-height: 21px; height: 21px; display: block; border-left: 1px solid #E2E2E2; float: left; padding-left: 15px; width: 450px; }
.wsitelist span a { padding-right: 20px; }



/*所有的关于我们页面 基本布局样式重置*/
body {
    background-color: #f1f4f4;
}
body #MainContentDIV {
    background-color: #f1f4f4;
}